<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cart</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/menu_app.js"></script>
    <script type="text/javascript" src="/scripts/cart_app.js"></script>

    <script src="https://kit.fontawesome.com/fa69ef191a.js"></script>

  </head>   

  <body id="cart">
    <nav class="nav justify-content-between">
        <a href="/" class="nav-link nav-logo"> FOODELICIOUS</a>
    </nav>
  
    <h1>Your order</h1>
    <section class="container">
    <section id="cart-body" class="cart-items">

    </section>
    <div class="price">
      <span>Total: $</span>
      <span class="total_price">0</span>
    </div>
    </section>
    <section class="cart-buttons">
      <a href="/menu" id="clear-order-button" class="btn btn-danger clear-button">CLEAR ORDERS</a>
      <a href="/checkout" id="checkout-button" class="btn btn-primary checkout-button ">CHECKOUT</a>    
    </section>
  </body>
</html>