<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Checkout</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/menu_app.js"></script>
    <script src="https://kit.fontawesome.com/fa69ef191a.js"></script>

  </head>

  <body>
    <!--Nav bar with logo-->
    <nav class="nav justify-content-between">
        <a href="" class="nav-link nav-logo"> FOODALICIOUS</a>
    </nav>

    <!-- <div>
        <a href=/checkout><button id="checkout-button" type="submit">CHECKOUT</button></a>
    </div>
    <div>
        <a href=/menu><button id="clear-order-button" type="submit" class="btn btn-danger">CLEAR ORDERS</button></a>
    </div> -->

    <section id="checkout-container">       

        <!-- <div class="mb-3">
                <label for="phone">Phone Number
                </label>
                <input type="tel" class="form-control" id="phone-numher" placeholder="(xxx)-xxx-xxxx" required>
                <div class="invalid-feedback">
                    Please enter a valid phone number.
                </div>
        </div>       -->
        
        <form method="POST" action="/login">
            <label for="name">Name
            </label>
            <input class="form-control" type="text" id="name" placeholder="name" style="width: 300px; margin: 1em">
            <label for="phone">Phone Number
            </label>
            <input class="form-control" type="phone-number" id="phone-number" placeholder="(xxx)-xxx-xxxx" style="width: 300px; margin: 1em">
            <div class="invalid-feedback">
                Please enter a valid phone number.
            </div>
            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
         </form>    

    </section>

  </body>
</html>