<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Confirm</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="/scripts/confirm.js"></script> -->

  </head>

  <body>
    <!--Nav bar with logo-->
    <nav class="nav justify-content-between">
        <a href=/ class="nav-link nav-logo"> FOODELICIOUS</a>
    </nav>

    <section class="confirm-container">
        <article class="article">
            <header class="header">
                <h3 class="text-center">Order Placed!</h3>
            </header>
            <div class="content text-center">
                <h4>Thank You!</h4>
                <h5>Your order will be ready in <strong>30 min</strong>.We will send your order detail via text message.</h5>
            </div>
        </article>
    </section>

  </body>
</html>