<!DOCTYPE html>
<html lang="en">
  <head>
    <title> FOODALICIOUS </title>
    <!--external CSS-->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,700,700i&display=swap" rel="stylesheet">
    
    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!--jquery-->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    
    <!-- App CSS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <!-- Top nav bar (fixed) -->
    <nav id="nav-bar">
        <img class="logo" src="/images/bird.png">
        <span class="header">Tweeter</span>
  
        <button type ="submit" value="Compose" class="compose-button">
          <img src="/icons/compose.png">Compose
        </button>
      </nav>
    <h1>Hello World!</h1>
  </body>
</html>
