<!DOCTYPE html>
<html lang="en">
  <head>
    <title> FOODALICIOUS </title>
    <!--external CSS-->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,700,700i&display=swap" rel="stylesheet">
    
    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!--jquery-->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    
    <!-- App CSS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <!-- Top nav bar (fixed) -->
    <nav class="nav">
        <a href="" class="nav-link"> FOODALICIOUS</a>
        <a href="" class="nav-link"> ORDER HERE</a>
    </nav>
        <header class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block" src="../image/home_pasta.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block" src="../image/home_pizza.jpg" alt="Second slide">
            </div>
          </header>
    <main class="container">

    </main>
    <footer>
      
    </footer>
  </body>
</html>
