<!DOCTYPE html>
<html lang="en">
  <head>
    <title> FOODALICIOUS </title>
    <!--external CSS-->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto+Slab:400,700|Roboto:400,700&display=swap" rel="stylesheet">
    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!--jquery-->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!--jquery-->
    <script type="text/javascript" src="/scripts/css-effect.js"></script>

    <!-- App CSS -->
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
  </head>
  <body>
    <!-- Top nav bar (fixed) -->
    <nav class="nav justify-content-between">
        <a href="" class="nav-link nav-logo"> FOODALICIOUS</a>
    </nav>
        <header class="carousel-inner ">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner overlay-image">
                  <div class="carousel-item w-100 active">
                    <img class="d-block w-100" src="../image/home_pasta.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item w-100">
                    <img class="d-block" src="../image/home_pizza.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item w-100">
                      <img class="d-block" src="../image/home_hamburger.jpg" alt="Third slide">
                    </div>
                </div>
                <button type = “button” id=“cart-button” href=“http://localhost:8080/order“ class="nav-link nav-order-link btn order-button">ORDER NOW</button>
                <span class="motto">
                    THE HUB WHERE FOODIES FIND DELICIOUS GRUB
                </span>
            </div>

        </header>
    <main class="container">

    </main>
    <footer>

    </footer>
  </body>
</html>
