<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menu</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/menu_append.js"></script>
    <script src="https://kit.fontawesome.com/fa69ef191a.js"></script>

  </head>

  <body>
    <!--This is the nav bar for the menu in /order-->
    <!-- <nav id="menu_nav_bar">
      <img class="logo">
      <span class="menu_header">MENU</span>
      <button id="cart_button" href="http://localhost:8080/cart"><i class="fas fa-shopping-cart"></i>Cart</button>
    </nav> -->
    <!--Use (app.js or create a new js file) to append the itemsin table to main-->
    <!-- <main id="menu_body"> -->
    <div>
      <button type = "button" id="cart-button" href="http://localhost:8080/cart"><i class="fas fa-shopping-cart"></i> CART</button>
    </div>

    <main class="menu">
      <div>
        <span class="food-options">HERE ARE OUR DELICIOUS FOOD OPTIONS</span>
      </div>

        <div class="menu-container">

          <div class="container-fluid">
            <div class="cat-name cat-pi text-center ">
              <h1>PIZZA</h1>
            </div>
            <div id="content-pi">
              <div class="container row" id="pizza-container"></div>
            </div>
          </div>

          <div class="container-fluid">         
            <div class="cat-name cat-pa text-center ">
              <h1>PASTA</h1>
            </div>
            <div id="content-pa">
              <div class="container row" id="pasta-container"></div>
            </div>
          </div> 

          <div class="container-fluid">           
            <div class="cat-name cat-b text-center ">
                <h1>BURGER</h1>
            </div>
            <div id="content-b">
              <div class="container row" id="burger-container"></div>
            </div>
          </div>

          <div class="container-fluid">             
            <div class="cat-name cat-w text-center ">
              <h1>WINGS</h1>
            </div>
            <div id="content-w">
              <div class="container row" id="wings-container"></div>
            </div>
          </div>

          <div class="container-fluid">             
            <div class="cat-name cat-p text-center ">
              <h1>POP</h1>
            </div>
            <div id="content-p">
              <div class="container row" id="pop-container"></div>
            </div>
          </div>

          </div>

    </main>

  </body>
</html>