body {
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: $font-logo;
  
  #checkout {
    float: right; 
    margin-right: 10%;
    margin-top: 30px;
    height: 50px;
    font-style: italic;
    font-size: 30px;
    color: $button-color;
    background-color: $nav-color;
    border-color: $nav-color;
  }

  #clear-order-button {
    float: right;
    width: 10%;
    border-radius: 25px;
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
    margin-right: 10px;
  }

}