body {
    background-color: cyan;
    font-family: 'Roboto Condensed', sans-serif;
  
    h1 {
      color: #244751;
    }
  }
  
  #checkout-button {
    float: right;
    border-radius: 20px;
    font-weight: bold;
    font-size: large;  
    margin-right: 10%;
    margin-top: 20px;
    height: 50px;
    background-color: lightcyan;
  }

  #clear-order-button {
    float: right;
    width: 10%;
    border-radius: 20px;
    font-weight: bold;
    font-size: large;
    margin-top: 2%;
  }