body {
    background-color: cyan;
    font-family: 'Roboto Condensed', sans-serif;

  }
  
  #checkout {
    float: right;
    border-radius: 20px;
    font-weight: bold;
    font-size: large;  
    margin-right: 10%;
    margin-top: 20px;
    height: 50px;
    background-color: lightcyan;
    font-style: normal;
    font-family: 'Roboto Condensed', sans-serif;
    color: blueviolet;
  }

  #clear-order-button {
    float: right;
    width: 10%;
    border-radius: 25px;
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
    margin-right: 10px;
  }