body#checkout {
    background-color: white;
    font-family: $font-body;


    nav {
      font-family: $font-logo;
    }
    h1{
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      margin-top:5rem;
    }
    p{
      text-align: center;
      font-size: 1.5rem;
      // margin-top:5rem;
    }
    .checkout-container {
      margin-top: 5rem;
      display:flex;
      flex-direction: column;
      width:50%;
      margin-left:25%;
      // background-color: rgba(0,0,0,.6);
      // text-align: center;
      // justify-content:flex-start;

      .name {
        flex:1;
        font-weight: bold;
        font-size: 1.5rem;
        display: flex;

        label {
          flex:1;
        }

        input {
         flex:1; 
        }
      }

      .phone {
        flex:1;
        // font-style: italic;
        display: flex;
        font-weight: bold;
        font-size: 1.5rem;
        // background-color: aqua;

        label {
          flex:1;
        }

        input {
          flex:1;
        }

      }

      .error {
        flex:1;
        display:flex;
        // width:50%;
        text-align: center;
        justify-content: center;


        // margin-left: 40%;
        // background-color: red;
        
        .error-message {
          flex:3;
          color: red;
          font-size: medium;
          font-weight: bold;
          font-style: italic;
          justify-content: flex-end;
          
        }

        button {
          // padding:1rem;
          flex:1;
          font-size:2rem;
          background-color: white;
          border: 2px solid #008CBA;
          color: #008CBA;
        }
        button:hover {
          background-color: #008CBA; /* Green */
          color: white;
        }

      }
    }

}
