body#checkout {
    background-color: white;
    font-family: $font-body;


    nav {
      font-family: $font-logo;
    }
    h1{
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      margin-top:5rem;
    }
    p{
      text-align: center;
      font-size: 1.5rem;
    }
    .checkout-container {
      border: 1px solid black;
      margin-top: 5em;
      display:flex;
      flex-direction: column;
      width:50%;
      margin-left:25%;
      padding: 1em;

      .name {
        flex:1;
        font-weight: bold;
        font-size: 1.5rem;
        display: flex;
        align-items: baseline;
        margin: 1em;

        label {
          flex:1;

        }

        input {
         flex:1.5; 
        }
      }

      .phone {
        flex:1;
        display: flex;
        font-weight: bold;
        font-size: 1.5rem;
        align-items: baseline;
        margin: 1em;


        label {
          flex:1;
        }

        input {
          flex:1.5;
        }

      }

      .error {
        flex:1;
        display:flex;
        justify-content: space-between;
        justify-items: baseline;
        padding: 2em 0 2em 0;


        
        .error-message {
          flex:1;
          color: red;
          font-size: 1.5rem;
          font-weight: bold;
          font-style: italic;
          text-align: left;

        }

        .return-button {
          flex:1;
          font-size:2rem;
          background-color: white;
          border: 2px solid $button-color;
          color: $button-color;
          float:left;
          margin: 1em;
        }
        .return-button:hover {
          background-color: $button-color; 
          color: white;
        }

        .submit-button {
          flex:1;
          font-size:2rem;
          background-color: white;
          border: 2px solid #008CBA;
          color: #008CBA;
          float:right;
          margin: 1em;
        }
        .submit-button:hover {
          background-color: #008CBA; 
          color: white;
        }
      }
    }

}
