$font-body:    'Roboto Condensed', sans-serif;
$font-logo: 'Roboto Slab', serif;
$primary-color:#244751;
$container-color:#FFFFFF;
$nav-color:#3C4859;
$back-color: #EEE;
$button-color:#DDA448;

body {
  background-color: $back-color;
  font-family: $font-body;
}

@import 'partials/menu';
@import 'partials/nav';
@import 'partials/home';
@import 'partials/cart';
@import 'partials/checkout';
